<tr>
    <td>{{name}}</td>
    <td>{{type}}</td>
    <td>{{orbital_radius}}</td>
    <td>{{theta}}</td>
    <td>
        <button type="button" id="body-view-button" onclick="alert('TODO');">View</button>
        <button type="button" id="body-edit-button" onclick="alert('TODO');">Edit</button>
        <button type="button" id="body-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>