<div id="confirmation-modal">
	<div id="confirmation-modal-dialog">
		<h2>Are you sure?</h2>
		<div class="modal-button-container">
			<button id="confirmation-modal-yes-button" onclick="confirmConfirmationModal()">Yes</button>
			<button id="confirmation-modal-no-button" onclick="removeConfirmationModal()">No</button>
		</div>
	</div>
</div>
