<tr>
	<td>{{name}}</td>
	<td>
		<a href="/systems/view/{{systemID}}"><button type="button">View</button></a>
		<a href="/systems/edit/{{systemID}}"><button type="button">Edit</button></a>
		<button type="button" onclick="alert('TODO ' + {{systemID}})">Remove Ownership</button>
	</td>
</tr>
