<div id="error-modal">
	<div id="error-modal-dialog">
		<h2>Error</h2>
		<p class="error-text">{{error_text}}</p>
		<div class="modal-button-container">
			<button id="delete-modal-ok-button" onclick="removeErrorModal()">Ok</button>
		</div>
	</div>
</div>
