<div class="canvas-container {{extraClass}}">
    <canvas id="galaxy-view" class="{{extraClass}}"></canvas>
    <div class="caption-container"> 
        <div class="caption">Hover over systems to view system name and click on system to navigate to system page.</div>
    </div>
</div>
