<header>
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Orbitron">
	<a href="/"><h1 class="site-title" style="font-family: Orbitron, sans-serif;">S T E L L A R I S&nbsp&nbsp&nbspS A N D B O X</h1></a>

	<nav class="navbar">
		<ul class="navlist">
			<li class="navitem navlink {{#if active.homePage}}active{{/if}}"><a href="/">Home</a></li>
			<li class="navitem navlink {{#if active.empiresPage}}active{{/if}}"><a href="/empires">Empires</a></li>
			<li class="navitem navlink {{#if active.systemsPage}}active{{/if}}"><a href="/systems">Systems</a></li>
			<li class="navitem navlink {{#if active.resourcesPage}}active{{/if}}"><a href="/resources">Resources</a></li>
			<li class="navitem navlink {{#if active.bodiesPage}}active{{/if}}"><a href="/bodies">Bodies</a></li>
			<li class="navitem navlink {{#if active.hyperlanesPage}}active{{/if}}"><a href="/hyperlanes">Hyperlanes</a></li>

			<ul class="navlist-right">
				<li class="navitem navlink {{#if active.aboutPage}}active{{/if}}"><a href="/about">About</a></li>
				<li class="navitem navlink"><a href="https://github.com/copernicium/stellaris-sandbox" target="_blank">Source</a></li>
			</div>
		</ul>
	</nav>
</header>
