<tr>
    <td>{{system1ID}}</td>
    <td>{{system2ID}}</td>
    <td>
        <button type="button" id="hyperlane-highlight-button" onclick="alert('TODO');">Highlight</button>
        <button type="button" id="hyperlane-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>