<tr>
    <td>{{name}}</td>
    <td>{{base_market_value}}</td>
    <td>{{color}}</td>
    <td>
        <button type="button" id="resource-edit-button" onclick="alert('TODO');">Edit</button>
        <button type="button" id="resource-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>