<tr>
    <td>{{empireID}}</td>
    <td>{{resourceID}}</td>
    <td>{{quantity}}</td>
    <td>
        <button type="button" id="resource-stock-edit-button" onclick="alert('TODO');">Edit</button>
        <button type="button" id="resource-stock-delete-button" onclick="alert('TODO');">Delete</button>
    </td>
</tr>