<div class="canvas-container">
    <canvas id="system-view"></canvas>
    <div class="caption-container"> 
        <div class="caption">Hover over bodies to view body name and click on body to navigate to body page.</div>
    </div>
</div>