<main>
	<script src="/templates/body_item_template.js" defer></script>
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var searchInput = document.getElementById("body-search-input");
			if (searchInput) {
				searchInput.addEventListener("input", () => runEntitySearch("body-search-input", "bodies-list", "/bodies/search/", Handlebars.templates.bodyItem));
			}
		});
	</script>
	<div class="page-container">
		<div>
			<a href="/bodies/create">
				<button type="button" id="modal-open-button">Create New Body</button>
			</a>
		</div>
		<br>
		<div>
			<input type="search" id="body-search-input" class="search-bar" placeholder="Search bodies by name..."></input>
		</div>
		<br>
		<table class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Orbital Radius</th>
					<th>Theta</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="bodies-list">
				{{#each bodies}}
					{{> bodyItem}}
				{{/each}}
			</tbody>
		</table>
    </div>
</main>

