<main>
	<div class="page-container">
		<div>
			<a href="/bodies/create">
				<button type="button" id="modal-open-button">Create New Body</button>
			</a>
		</div>
		<br>
		<table id="bodies-list" class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Type</th>
					<th>Orbital Radius</th>
					<th>Theta</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each bodies}}
					{{> bodyItem}}
				{{/each}}
			</tbody>
		</table>
    </div>
</main>

