<main>
    <div>
        <button type="button" id="create-new-empire-button">Create New Empire</button>
    </div>
    <br>
    <table>
        <tr>
            <th>Name</th>
            <th>Aggressiveness</th>
            <th>Primary Color</th>
            <th>Secondary Color</th>
            <th>Fallen Empire</th>
        </tr>
        {{#each empires}}
			{{> empireItem}}
		{{/each}}
    </table>
    {{> footer}}
</main>