<main>
	<div class="page-container">
		<div>
			<a href="/empires/create">
				<button type="button">Create New Empire</button>
			</a>
		</div>
		<br>
		<table class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Aggressiveness</th>
					<th>Primary Color</th>
					<th>Secondary Color</th>
					<th>Fallen Empire</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="empires-list">
				{{#each empires}}
					{{> empireItem}}
				{{/each}}
			</tbody>
		</table>
	</div>
</main>

