<main>
    <h3>
        <a href="/empires">Empires</a>
    </h3>
    <p>
        This page is used for viewing Empires and creating new ones.
    </p>
    <h3>
        <a href="/systems">Systems</a>
    </h3>
    <p>
        This page is used for viewing Systems and creating new ones.
    </p>
    <h3>
        <a href="/resources">Resources</a>
    </h3>
    <p>
        This page is used for viewing Resources and creating new ones.
    </p>
    <h3>
        <a href="/bodies">Bodies</a>
    </h3>
    <p>
        This page is used for viewing Bodies and creating new ones.
    </p>
    <h3>
        <a href="/hyperlanes">Hyperlanes</a>
    </h3>
    <p>
        This page is used for viewing Hyperlanes and creating new ones.
    </p>
    <h3>
        <a href="/resource-stocks">Resource Stocks</a>
    </h3>
    <p>
        This page is used for viewing ResourceStocks and creating new ones.
    </p>
</main>