<main>
    <h3>
        <a href="/empires">Empires</a>
    </h3>
    <p>
        This page is used for viewing Empires and creating new ones.
    </p>
    <h3>
        <a href="/systems">Create New System</a>
    </h3>
    <p>
        This page is used for creating new Systems and adding them to the database.
    </p>
</main>