<main>
    <h3>
        <a href="/empires">Create New Empire</a>
    </h3>
    <p>
        This page is used for creating new Empires and adding them to the database.
    </p>
    <h3>
        <a href="/systems">Create New System</a>
    </h3>
    <p>
        This page is used for creating new Systems and adding them to the database.
    </p>
</main>