<main>
	<script src="/templates/hyperlane_item_template.js" defer></script>
	<script>
		function modalHide() {
			document.getElementById("create-modal-backdrop").classList.add("hidden");
			document.getElementById("create-modal").classList.add("hidden");
		}

		function modalShow() {
			document.getElementById("create-modal-backdrop").classList.remove("hidden");
			document.getElementById("create-modal").classList.remove("hidden");
			setupStarfields();
		}

		function modalOpen() {
			modalShow();
		}

		function modalCancel() {
			modalHide();
		}

		function modalAccept() {
			var system1Input = document.getElementById("system-1-search-bar");
			var system2Input = document.getElementById("system-2-search-bar");

			if (!system1Input.dataset.id || !system2Input.dataset.id) {
				createErrorModal("You must select a system for each side of the hyperlane.");
				return;
			}

			var hyperlaneContext = {
				system1ID: system1Input.dataset.id,
				system2ID: system2Input.dataset.id,
			};
			postToServer("/hyperlanes/add", hyperlaneContext, () => window.location.reload());
		}

		window.addEventListener("DOMContentLoaded", function() {
			document.getElementById("modal-open-button").addEventListener("click", modalOpen);
			document.getElementById("modal-cancel-button").addEventListener("click", modalCancel);
			document.getElementById("modal-accept-button").addEventListener("click", modalAccept);

			var systemSearchList = JSON.parse(decodeURIComponent("{{{encoded_system_search_list}}}"));
			setupSearchList(systemSearchList, ["system-1-search-bar", "system-2-search-bar"], "system-search-list", "systemID", "name", false, null, null);

			var hyperlanes = JSON.parse(decodeURIComponent("{{{encoded_hyperlane_details}}}"));
			var systems = JSON.parse(decodeURIComponent("{{{encoded_systems}}}"));
			drawGalaxyView(hyperlanes, systems);

			var searchInput = document.getElementById("hyperlane-search-input");
			if (searchInput) {
				searchInput.addEventListener("input", () => runEntitySearch("hyperlane-search-input", "hyperlanes-list", "/hyperlanes/search/", Handlebars.templates.hyperlaneItem));
			}
		});
	</script>
	<div class="page-container has-right-col">
        <div class="left-col">
            <div>
                <div>
                    <button type="button" id="modal-open-button">Create New Hyperlane</button>
                </div>
				<br>
				<div>
					<input type="search" id="hyperlane-search-input" class="search-bar" placeholder="Search.."></input>
				</div>
                <br>
                <table id="hyperlanes-list">
                    <tr>
                        <th>System 1</th>
                        <th>System 2</th>
                        <th></th>
                    </tr>
                    {{#each hyperlanes}}
                        {{> hyperlaneItem}}
                    {{/each}}
                </table>
            </div>
        </div>
        <div class="right-col">
			{{> galaxyView}}
        </div>
    </div>
	<div id="create-modal-backdrop" class="hidden">
        <canvas id="starfield" class="starfield"></canvas>
    </div>
	<div id="create-modal" class="hidden">
		<div id="create-modal-dialog">
            <h2>Create New Hyperlane</h2>
			<table>
				<tr>
					<td>
						<label>System 1:</label>
					</td>
					<td>
						<input type="search" id="system-1-search-bar" class="list-search-bar" name="system-2-name">
					</td>
				</tr>
				<tr>
					<td>
						<label>System 2:</label>
					</td>
					<td>
						<input type="search" id="system-2-search-bar" class="list-search-bar" name="system-2-name">
					</td>
				</tr>
			</table>
			<div class="modal-button-container">
				<button id="modal-accept-button">Create</button>
				<button id="modal-cancel-button">Cancel</button>
			</div>
		</div>
	</div>
	<div class="search-list hidden" id="system-search-list" tabindex="-1"></div>
</main>
