<main>
	<script src="/templates/resource_item_template.js" defer></script>
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var searchInput = document.getElementById("resource-search-input");
			if (searchInput) {
				searchInput.addEventListener("input", () => runEntitySearch("resource-search-input", "resources-list", "/resources/search/", Handlebars.templates.resourceItem));
			}
		});
	</script>
	<div class="page-container">
		<div>
			<a href="/resources/create">
				<button type="button" id="modal-open-button">Create New Resource</button>
			</a>
		</div>
		<br>
		<div>
			<input type="search" id="resource-search-input" class="search-bar" placeholder="Search resources by name..."></input>
		</div>
		<br>
		<table class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Base Market Value</th>
					<th>Color</th>
					<th></th>
				</tr>
			</thead>
			<tbody id="resources-list">
				{{#each resources}}
					{{> resourceItem}}
				{{/each}}
			</tbody>
		</table>
	</div>
</main>

