<main>
	<script src="/templates/resource_item_template.js" defer></script>
	<script>
		function modalHide() {
			document.getElementById(MODAL_BACKDROP_ID).classList.add("hidden");
			document.getElementById(MODAL_ID).classList.add("hidden");
		}

		function modalShow() {
			document.getElementById(MODAL_BACKDROP_ID).classList.remove("hidden");
			document.getElementById(MODAL_ID).classList.remove("hidden");
			setupStarfield();
		}

		function modalOpen() {
			modalShow();
		}

		function modalCancel() {
			modalHide();
		}

		function modalAccept() {
			var creationForm = document.forms["modal-form"];
			var resourceContext = {
				name: creationForm["resource-name"].value,
				base_market_value: creationForm["resource-base-market-value"].value,
				color: creationForm["resource-color"].value
			};
			var resourceHTML = Handlebars.templates.resourceItem(resourceContext);
			document.getElementById("resources-list").insertAdjacentHTML("beforeend", resourceHTML);

			modalHide();
		}

		window.addEventListener("DOMContentLoaded", function() {
			document.getElementById(MODAL_OPEN_BUTTON_ID).addEventListener("click", modalOpen);
			document.getElementById(MODAL_CANCEL_BUTTON_ID).addEventListener("click", modalCancel);
			document.getElementById(MODAL_ACCEPT_BUTTON_ID).addEventListener("click", modalAccept);
		});
	</script>
	<div>
        <button type="button" id="modal-open-button">Create New Resource</button>
    </div>
    <br>
    <table id="resources-list">
        <tr>
            <th>Name</th>
            <th>Base Market Value</th>
            <th>Color</th>
        </tr>
        {{#each resources}}
			{{> resourceItem}}
		{{/each}}
    </table>
	<div id="modal-backdrop" class="hidden">
		<canvas id="starfield" class="starfield"></canvas>
	</div>
	<div id="modal" class="hidden">
		<div id="modal-dialog">
			<h2>Create New Resource</h2>
			<form name="modal-form">
				<table>
					<tr>
						<td>
							<label>Name:</label>
						</td>
						<td>
							<input type="text" id="resource-name" name="resource-name">
						</td>
					</tr>
                    <tr>
                        <td>
                            <label>Base Market Value:</label>
                        </td>
                        <td>
                            <input type="number" id="resource-base-market-value" name="resource-base-market-value" min="0" value="1" step="0.01">
                        </td>
                    </tr>
					<tr>
						<td>
							<label>Color:</label>
						</td>
						<td>
							<input type="color" id="resource-color" name="resource-color">
						</td>
					</tr>
				</table>
			</form>
			<button id="modal-accept-button">Create</button>
			<button id="modal-cancel-button">Cancel</button>
		</div>
	</div>
</main>

