<main>
	<div class="page-container">
		<div>
			<a href="/resources/create">
				<button type="button" id="modal-open-button">Create New Resource</button>
			</a>
		</div>
		<br>
		<table id="resources-list" class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Base Market Value</th>
					<th>Color</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each resources}}
					{{> resourceItem}}
				{{/each}}
			</tbody>
		</table>
	</div>
</main>

