<main>
	<script src="/templates/system_item_template.js" defer></script>
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var hyperlanes = JSON.parse(decodeURIComponent("{{{encoded_hyperlane_details}}}"));
			var systems = JSON.parse(decodeURIComponent("{{{encoded_systems}}}"));
			drawGalaxyView(hyperlanes, systems);

			var searchInput = document.getElementById("system-search-input");
			if (searchInput) {
				searchInput.addEventListener("input", () => runEntitySearch("system-search-input", "systems-list", "/systems/search/", Handlebars.templates.systemItem));
			}
		});
	</script>
	<div class="page-container has-right-col">
        <div class="left-col">
			<div>
				<a href="/systems/create">
					<button type="button" id="modal-open-button">Create New System</button>
				</a>
			</div>
			<br>
			<div>
				<input type="search" id="system-search-input" class="search-bar" placeholder="Search systems by name..."></input>
			</div>
			<br>
			<table class="entry-list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Type</th>
						<th>Orbital Radius</th>
						<th>Theta</th>
						<th></th>
					</tr>
				</thead>
				<tbody id="systems-list">
					{{#each systems}}
						{{> systemItem}}
					{{/each}}
				</tbody>
			</table>
		</div>
        <div class="right-col">
			{{> galaxyView}}
        </div>
    </div>
</main>
