<main>
	<script>
		window.addEventListener("DOMContentLoaded", function() {
			var hyperlanes = JSON.parse(decodeURIComponent("{{{encoded_hyperlane_details}}}"));
			var systems = JSON.parse(decodeURIComponent("{{{encoded_systems}}}"));
			drawGalaxyView(hyperlanes, systems);
		});
	</script>
	<div class="page-container has-right-col">
        <div class="left-col">
			<div>
				<a href="/systems/create">
					<button type="button" id="modal-open-button">Create New System</button>
				</a>
			</div>
			<br>
			<div>
				<input type="search" id="system-search-input" class="search-bar" placeholder="Search.."></input>
			</div>
			<br>
			<table id="systems-list" class="entry-list">
				<thead>
					<tr>
						<th>Name</th>
						<th>Star Count</th>
						<th>Orbital Radius</th>
						<th>Theta</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{{#each systems}}
						{{> systemItem}}
					{{/each}}
				</tbody>
			</table>
		</div>
        <div class="right-col">
            <canvas id="galaxy-view"></canvas>
        </div>
    </div>
</main>
