<main>
	<div class="page-container">
		<div>
			<a href="/systems/create">
				<button type="button" id="modal-open-button">Create New System</button>
			</a>
		</div>
		<br>
		<div>
			<input type="search" id="system-search-input" class="search-bar" placeholder="Search.."></input>
		</div>
		<br>
		<table id="systems-list" class="entry-list">
			<thead>
				<tr>
					<th>Name</th>
					<th>Star Count</th>
					<th>Orbital Radius</th>
					<th>Theta</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{{#each systems}}
					{{> systemItem}}
				{{/each}}
			</tbody>
		</table>
    </div>
</main>
