#modal-backdrop, #create-modal-backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	/* background-color: rgba(0, 0, 0, 0.85); */
}

#confirmation-modal, #create-modal, #error-modal {
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1010;
}

#confirmation-modal-dialog, #error-modal-dialog {
	width: auto;
	max-width: 400px;
	min-width: 200px;
	min-height: 100px;
	height: auto;
	margin: 40px auto;
	padding: 20px;
	border: 2px solid white;
	border-radius: 15px;
	background-color: #36393F;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#error-modal-dialog {
	max-width: 800px !important;
}

#create-modal-dialog {
	width: auto;
	max-width: 300px;
	min-width: 200px;
	height: auto;
	min-height: 100px;
	margin: 40px auto;
	padding: 20px;
	border: 2px solid white;
	border-radius: 15px;
	background-color: #36393F;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.modal-button-container {
	width: 100%;
	display: flex;
	justify-content: flex-end;
}

.modal-button-container button {
	margin: 0px 5px;
}

.search-list {
	overflow: scroll;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
	max-height: 300px;
	position: absolute;
	background-color: black;
}

.search-list-item {
	height: 30px;
}

.search-list-item:hover {
	background-color: green;
}

button {
	border: 1px solid #AAA;
	border-radius: 2px;
	background-color: #111;
	cursor: pointer;
}

button:disabled {
	color: #333;
	cursor: default;
}

* {
	color: #FFF;
}

html {
	height: 100%;
}

body {
	font-family: Helvetica, sans-serif;
	margin: 0;
	background-color: #36393F;
	height: 100%;
}

a {
	text-decoration: none;
}

a:hover {
    text-decoration: none;
    color: #AAA;
}

.site-title {
	margin: 0;
	padding: 10px 20px;
	font-size: 30px;
	font-weight: 100;
	background-color: #202225;
	color: #FFF;
}

.navbar {
	background-color: #2F3136;
	font-size: 18px;
	line-height: 22px;
	box-shadow: 0px 6px 10px rgba(0,0,0,0.25);
}

.navlist {
	margin: 0 0 0 20px;
	padding: 0;
}

.navitem {
	display: inline-block;
}

.navlist-right {
	float: right;
}

.navlink a {
	padding: 8px 10px;
	display: inline-block;
}

.navlink.active {
	box-shadow: inset 0 -3px #FFF !important;
}

.navlink:hover {
	box-shadow: inset 0 -3px #BBB;
}

body {
	display: flex;
	flex-direction: column;
}

main {
	margin: 20px;
	flex-grow: 1;
}

input, textarea, select, option {
	background-color : #36393F;
}

table {
    border-collapse: collapse;
    border-spacing: 115px;
}

table td, table th {
    border: 1px solid white;
}

table tr:first-child th {
    border-top: 0;
}

table tr:last-child td {
    border-bottom: 0;
}

table tr td:first-child,
table tr th:first-child {
    border-left: 0;
}

table tr th:last-child,
table tr td:last-child {
	border-bottom: 0;
	border-top: 0;
}

table tr td:last-child, 
table tr th:last-child {
	border-right: 0;
	border-left: 0;
}

td:nth-last-child(2) ,
th:nth-last-child(2) {
    border-right: 0;
}

th, td { 
    padding: 10px;
}

.starfield {
	height: 100%;
	width: 100%;
	padding: 0px;
	margin: 0px;
}

.page-container {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.flex-row {
	display: flex;
}

#system-view, #galaxy-view {
	min-width: 200px;
	width: 600px;
	max-width: 800px;
	min-height: 200px;
	height: 600px;
	max-height: 800px;
}

#galaxy-view.big-view {
	height: 100%;
	flex-grow: 1;
	width: auto;
	max-width: none;
	max-height: none;
}

.canvas-container.big-view {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	padding-top: 0px;
	flex-grow: 1;
}

.has-right-col {
	display: flex;
	flex-direction: row;
}


.has-right-col .left-col {
	flex-grow: 1;
}

.right-col {
	flex-grow: 0;
}

.has-right-slider {
	overflow-x: hidden;
	display: flex;
	flex-direction: row;
	flex-grow: 1;
	align-items: stretch;
	width: 200vw;
}

main.has-foldables {
	margin: 0px;
	overflow-x: hidden;
	display: flex;
	flex-direction: column;
}

.quadrant {
	flex: 1 0 0%;
	margin: 20px;
	border: 2px solid black;
	border-radius: 8px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-position: center;
	background-size: auto 100%;
	box-shadow: black 0px 3px 5px;
	transition: box-shadow 100ms;
}

.quadrant:hover {
	box-shadow: none;
}

.quadrant-text {
	margin-top: 200px;
	font-size: 40px;
	color: white;
	text-shadow: black 0px 1px 10px;
	font-family: Orbitron, sans-serif;
}

.empires-quadrant {
	background-image: url("/banners/empires_banner.jpg");
}

.systems-quadrant {
	background-image: url("/banners/systems_banner.jpg");
}

.resources-quadrant {
	background-image: url("/banners/resources_banner.jpg");
}

.bodies-quadrant {
	background-image: url("/banners/bodies_banner.png");
}

.hyperlanes-quadrant {
	background-image: url("/banners/hyperlanes_banner.png");
}

.slider-bar {
	width: 3vw;
	cursor: pointer;
	z-index: 1;
	background-color: #202225;
	transition-duration: 600ms;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider-bar.left {
	transform: translate(-97vw);
}

.slider-arrow {
	font-size: 100px;
	transition-duration: 600ms;
}

.slider-bar.left > .slider-arrow {
	transform: scale(-1, 1);
}

.slide-inner {
	margin: 20px;
	flex-grow: 1;
	display: flex;
}

.left-slider, .right-slider {
	transition-duration: 600ms;
	width: 97vw;
	display: flex;


.left-slider.closed {
	transform: translate(-97vw);
}

.left-slider.opened {
}

.right-slider.closed {
}

.right-slider.opened {
	transform: translate(-97vw);
}

form.immutable input {
	cursor: default;
}

.color-swab {
	width: 16px;
	height: 16px;
	margin-right: 8px;
	border: 1px solid #DDD;
	border-radius: 6px;
	flex-shrink: 0;
}

#resources-unavailable-text {
	font-size: 14px;
}

.caption-container {
	display: flex;
	flex-direction: column;	
	align-items: center;
	width: 100%;
}

.caption {
	font-style: italic;
    color: #BBB;
	width: 75%;
	text-align: center;
}

.canvas-container {
	position: sticky;
	top: 0;
	padding-top: 15px;
}

.no-search-results-message {
	padding: 10px;
}

.error-container {
	margin-top: 50px;
	text-align: center;
}

.error-container h2 {
	margin: 10px 0;
	font-size: 96px;
	font-weight: 100;
}

.error-container h3 {
	margin: 10px 0;
	font-size: 36px;
	font-weight: 400;
}

.hidden, .hidden-used {
	display: none !important;
}
